.container__result {
  border: 2px solid #ccae07;
  background-color: #000;
  max-width: 300px;
  margin: 100px auto;
  border-radius: 5px;
  p {
    display: block;
    height: 50px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 50px;
    span {
      background-color: #ccae06;
      color: #000;
      display: inline-block;
      border-radius: 5px;
      width: 80px;
      height: 25px;
      line-height: 25px;
      margin-bottom: -4px;
    }
  }
}